<div class="modal-header">
    <h3 class="text-center">Уровень сахара</h3>
</div>
<div class="modal-body">
    <form name="form" role="form" class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="form-group text-center">
                    <label>Дата:</label>
                    <datepicker data-ng-model="record.date" data-show-weeks="false" data-starting-day="1"></datepicker>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <label class="control-label col-xs-3" style="padding-top: 50px">Время:</label>
                    <timepicker class="col-xs-4" data-ng-model="record.date" data-hour-step="1" data-minute-step="15" data-show-meridian="false"></timepicker>
                </div>
                <div class="form-group">
                    <label for="value" class="control-label">Уровень сахара крови:</label>

                    <div data-digit-counter data-value="record.value" data-min="0" data-max="35" data-step="0.1"></div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="stressSlider">Стресс:</label>
                    <span id="stressSlider" data-text-counter data-value="record.stress" data-values="нет,мало,средне,много"></span>
                </div>
                <div class="form-group">
                    <label class="control-label" for="activitySlider">Физическая нагрузка:</label>
                    <span id="activitySlider" data-text-counter data-value="record.activity" data-values="нет,мало,средне,много"></span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="comment" class="control-label">Примечание:</label>
                <input type="text" class="form-control" id="comment" data-ng-model="record.comment">
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" data-ng-click="ok()" data-ng-disabled="form.$invalid">Добавить</button>
    <button class="btn btn-warning" data-ng-click="cancel()">Отмена</button>
</div>