<div class="modal-header" style="background-color: #428bca;">
    <h3 class="text-center" style="color: #ffffff">Внимание!</h3>
</div>
<div class="modal-body">
    <p class="lead">Найдено совпадение по времени и дате. Данные будут заменены. Вы уверены ?</p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" data-ng-click="ok()" data-ng-disabled="form.$invalid">Добавить</button>
    <button class="btn btn-warning" data-ng-click="cancel()">Отмена</button>
</div>