<div class="modal-header">
    <h3 class="text-center">Подробности | Время : {{record.time}}</h3>
</div>
<div class="modal-body">
    <h4>Уровень сахара : {{record.value}} ммоль/л</h4>
    <h4 data-ng-if="record.comment.length>0"> Примечание : {{record.comment}}</h4>
    <h4 data-ng-if="record.stress!=undefined"> Стресс : {{record.stress}}</h4>
    <h4 data-ng-if="record.activity.length>0"> Физическая нагрузка : {{record.activity}}</h4>
    <h4 data-ng-if="record.food!=undefined">
        Последний прием пищи : {{record.food.value}} ХЕ {{record.food.date| date:'H'}} ч. {{record.food.date| date:'mm'}} мин. назад
    </h4>
    <h4 data-ng-if="record.injection!=undefined">
        Последний прием инсулина : {{record.injection.value}} Единиц {{record.injection.date| date:'H'}} ч. {{record.injection.date| date:'mm'}} мин. назад
    </h4>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" data-ng-click="ok()" data-ng-disabled="form.$invalid">Закрыть</button>
</div>