<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
<div class="row">
    <div class="col-md-6">
        <div class="well component">
            <form class="form-horizontal" name="form" novalidate>
                <fieldset>
                    <legend>Профиль</legend>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Email </label>

                        <p class="col-sm-10 form-control-static">{{user.username}}</p>
                    </div>

                    <div class="form-group">
                        <label for="inputPassword" class="col-sm-2 control-label">Пароль</label>
                        <a><p class="col-sm-10 form-control-static text-info" data-ng-show="showChangePasswordButton" data-ng-click="changePassword()">Сменить пароль</p></a>

                        <div class="col-sm-8" data-ng-hide="showChangePasswordButton">
                            <input class="form-control" id="inputPassword" placeholder="Введите новый пароль" data-ng-model="newPassword" type="password" required>
                        </div>
                    </div>
                    <div class="form-group text-center" data-ng-hide="showChangePasswordButton">
                        <button class="btn btn-default" data-ng-click="showChangePasswordButton=true">Отменить</button>
                        <button class="btn btn-primary" data-ng-disabled="form.$invalid" data-ng-click="applyNewPassword()">Сохранить</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="col-md-6">
        <div class="well component">
            <form class="form-horizontal" name="form2" novalidate>
                <fieldset>
                    <legend>Настройки</legend>
                    <div class="form-group check-box">
                        <label class="col-sm-6 control-label">Сравнивать с предыдущим днём</label>
                        <div class="text-center">
                            <input type="checkbox" data-ng-disabled="viewState" data-ng-model="user.settings.compareDays"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-6 control-label">Нижняя граница нормы сахара</label>

                        <div class="col-sm-6 form-control-static" data-ng-if="!viewState">
                            <span data-digit-counter data-value="user.settings.sugarNormMin" data-min="0" data-max="10" data-step="0.1"></span>
                        </div>
                        <div class="col-sm-6 form-control-static text-center" data-ng-show="viewState">
                            <p>{{user.settings.sugarNormMin}} ммоль/л</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-6 text-left control-label">Верхняя граница нормы сахара</label>

                        <div class="col-sm-6 form-control-static" data-ng-if="!viewState">
                            <span data-digit-counter data-value="user.settings.sugarNormMax" data-min="5" data-max="10" data-step="0.1"></span>
                        </div>
                        <div class="col-sm-6 form-control-static text-center" data-ng-show="viewState">
                            <p>{{user.settings.sugarNormMax}} ммоль/л</p>
                        </div>
                    </div>
                    <div class="form-group text-center" data-ng-show="viewState">
                        <button class="btn btn-info" data-ng-click="changeSettings()">Изменить настройки</button>
                    </div>
                    <div class="form-group text-center" data-ng-hide="viewState">
                        <button class="btn btn-default" data-ng-click="backUpSettings()">Отменить</button>
                        <button class="btn btn-primary" data-ng-click="saveSettings()">Сохранить</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>