<h2 class="text-center text-white">Дневник самонаблюдения</h2>

<div class="row component">
    <div class="col-sm-4 col-md-3">
        <div class="panel panel-info">
            <div class="panel-heading text-center">
                <h2 class="text-white">{{currentDate|date :'d MMMM'}}</h2>
                <h4 class="text-white">{{currentDate|date :'EEEE'}}</h4>
            </div>
            <div class="panel-body text-center">
                <a class="btn btn-link pull-left" data-ng-click="previousDay()"><span class="glyphicon glyphicon-chevron-left"></span></a>
                <span data-datepicker-popup data-ng-model="currentDate" data-is-open="datePickerOpened" data-datepicker-options="datePickerOptions" data-ng-change="dateChanged()"></span>
                <button type="button" class="btn btn-default" data-ng-click="openDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i> Календарь</button>
                <a class="btn btn-link pull-right" data-ng-click="nextDay()"><span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <div class="list-group" data-ng-if='records.length>0'>
            <p class="list-group-item" data-ng-repeat="record in records">
                <span>{{record.time}}</span>
                <span data-ng-if="record.type=='sugar'" style="padding-left: 10px">сахар <span class="label label-primary">{{record.value}} ммоль/л</span></span>
                <span data-ng-if="record.type=='food'" style="padding-left: 10px">прием пищи <span class="label label-warning">{{record.value}} XE</span></span>
                <span data-ng-if="record.type=='injection'" style="padding-left: 10px">инсулин <span class="label label-success">{{record.value}} единиц</span></span>
                <a type="button" class="close pull-right" data-ng-click="removeValue(record)">
                    <span aria-hidden="true">&times;</span>
                </a>
            </p>
        </div>
    </div>
    <div class="col-sm-8 col-md-9">
        <div class="well">
            <div>
                <label>Добавить :</label>
                <button class="btn btn-primary" data-ng-click="addSugar()">сахар</button>
                <button class="btn btn-primary" data-ng-click="addFood()">еда</button>
                <button class="btn btn-primary" data-ng-click="addInjection()">инсулин</button>
            </div>
            <h3 data-ng-if='records.length==0' class="text-center">Нет данных...</h3>
            <div data-ng-if='sugars.length>0'>
                <span data-chart></span>
            </div>
        </div>
    </div>
</div>
