<!DOCTYPE html>
<html data-ng-app="SugarReportProtected">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" type="image/ico" href="/resources/favicon.ico" />
    <link rel="stylesheet" href="/resources/protected/css/bootstrap-custom.css" type="text/css">
    <title>Diabet Life - Дневник</title>
</head>
<body>

<nav class="navbar navbar-inverse" data-ng-init="showMenu=false">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-ng-click="showMenu=(!showMenu)">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Diabet Life</a>
        </div>

        <div class="navbar-collapse collapse"  data-ng-class="{true:'navbar-collapse collapse in',false:'navbar-collapse collapse'}[showMenu]">
            <ul class="nav navbar-nav">
                <li><a href="#/day">Дневник</a></li>
                <li><a href="#/report">Статистика</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/account" title="Профиль и настройки"><span class="glyphicon glyphicon-user"></span></a></li>
                <li><a href="j_spring_security_logout" title="Выйти"><span class="glyphicon glyphicon-log-out"></span></a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container" data-ng-view>
</div>

<footer style="position: absolute;width:100%;bottom:0;text-align: center" class="text-white">
    <div class="container">
        <p class="text-center">© Copyright 2014 Diabet Life All rights reserved.</p>
    </div>
</footer>

<script src="/resources/angular/lib/angular.min.js"></script>
<script src="/resources/angular/lib/angular-locale_ru.js"></script>
<script src="/resources/angular/lib/angular-route.min.js"></script>
<script src="/resources/angular/lib/angular-animate.min.js"></script>
<script src="/resources/angular/protected/application.js"></script>
<script src="/resources/angular/protected/config.js"></script>
<script src="/resources/angular/protected/directive/directiveCounter.min.js"></script>
<script src="/resources/angular/protected/service/UserService.js"></script>
<script src="/resources/angular/protected/service/DayDataService.min.js"></script>
<script src="/resources/angular/protected/service/DayChartService.js"></script>
<script src="/resources/angular/protected/controller/DayController.js"></script>
<script src="/resources/angular/protected/controller/ReportController.js"></script>
<script src="/resources/angular/protected/controller/AccountController.js"></script>
<script src="/resources/ui/ui-bootstrap-0.11.2.min.js"></script>
<script type="text/javascript" src="/resources/amcharts/amcharts.js"></script>
<script type="text/javascript" src="/resources/amcharts/serial.js"></script>
<script type="text/javascript" src="/resources/amcharts/pie.js"></script>
<script type="text/javascript" src="/resources/amcharts/light.js"></script>
<script type="text/javascript" src="/resources/amcharts/ru.js"></script>
</body>
</html>