<h2 class="text-center text-white">Статистика и отчеты</h2>

<div class="row">
    <div class="col-sm-4 col-md-3">
        <div class="well component">
            <form method="post" class="form-horizontal" role="form" name="form" novalidate action="/report/getFile?type=pdf">
                <fieldset>
                    <legend>Параметры</legend>

                    <label class="control-label">Период </label>

                    <div class="form-group">
                        <label class="col-xs-2 control-label"> от: </label>
            <span class="col-xs-8" data-datepicker-popup data-ng-model="startDate" data-is-open="startDatePickerOpened" data-datepicker-options="datePickerOptions" data-ng-change="startDateChanged()">
            <p class="form-control-static text-center">{{startDate | date:'dd MMMM' }}</p>
            </span>
                        <button type="button" class="col-xs-2 btn btn-default" data-ng-click="openStartDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        <input name="startDate" data-ng-model="startDateFormatted" data-ng-hide="true">
                    </div>

                    <div class="form-group">
                        <label class="col-xs-2 control-label">до:</label>
            <span class="col-xs-8" data-datepicker-popup data-ng-model="endDate" data-is-open="endDatePickerOpened" data-datepicker-options="datePickerOptions" data-ng-change="endDateChanged()">
            <p class="form-control-static text-center">{{endDate | date:'dd MMMM' }}</p>
            </span>
                        <button type="button" class="col-xs-2 btn btn-default" data-ng-click="openEndDateDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        <input name="endDate" data-ng-model="endDateFormatted" data-ng-hide="true">
                    </div>
                    <div class="form-group">
                        <button type="button" class="form-control btn btn-primary" data-ng-click="report()">На экран</button>
                        <label class="control-label">Сохранить в файл </label><br>
                        <button type="submit" class="btn btn-default" formaction="/report/getFile?type=pdf">.pdf</button>
                        <button type="submit" class="btn btn-default" formaction="/report/getFile?type=xlsx">.xlsx</button>
                        <button type="submit" class="btn btn-default" formaction="/report/getFile?type=docx">.docx</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="col-sm-8 col-md-9">
        <h3 data-ng-if='reportData&&reportData.dates.length==0' class="text-center text-white">Нет данных...</h3>
        <div id="pie" style="width:100%;height:400px;font-size:11px;"></div>
    </div>
</div>
<div class="well component col-md-12" data-ng-if='reportData&&reportData.dates.length>0'>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>дата</th>
            <th>кол. замеров</th>
            <th>наименьший показатель</th>
            <th>наибольший показатель</th>
            <th>среднее значение</th>
            <th>в пределах нормы</th>
            <th>ниже нормы</th>
            <th>выше нормы</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="record in reportData.dates">
            <td>{{record.date}}</td>
            <td>{{record.count}}</td>
            <td>{{record.min}}</td>
            <td>{{record.max}}</td>
            <td>{{record.avg}}</td>
            <td>{{record.normCount}}</td>
            <td>{{record.lessNormCount}}</td>
            <td>{{record.aboveNormCount}}</td>
        </tr>
        <tr class="success">
            <td>Итого</td>
            <td>{{reportData.count}}</td>
            <td>{{reportData.min}}</td>
            <td>{{reportData.max}}</td>
            <td>{{reportData.avg}}</td>
            <td>{{reportData.normCount}}</td>
            <td>{{reportData.lessNormCount}}</td>
            <td>{{reportData.aboveNormCount}}</td>
        </tr>
        </tbody>
    </table>
</div>



