<div class="modal-dialog modal-lg" data-ng-hide="formVisible">
    <div class="modal-content text-center">
        <div class="modal-header">
            <h4>Ошибка 404: Страница не найдена</h4>
        </div>
        <div class="modal-body">
            <p class="lead">Страница, которую Вы ищете, не найдена. Вполне возможно, что она была переименована или удалена. Попробуйте найти ее в меню.</p>
        </div>
    </div>
</div>
      