<div class="modal-dialog modal-lg" data-ng-hide="formVisible">
    <div class="modal-content text-center">
        <div class="modal-header">
            <h4>На сайте произошла ошибка</h4>
        </div>
        <div class="modal-body">
            <p class="lead">Просим прощения за неудобства.</p>
            <p class="text"><ins><a href="#/">Перейти на главную страницу сайта</a></ins></p>
        </div>
    </div>
</div>