<header class="text-center text-white">
    <div class="container">
        <img class="img-responsive" src="/resources/drop.min.png" width="152" height="152" alt="">

        <div>
            <span class="name">Дневник диабетика</span>
            <hr>
            <span class="skills">Diabet Life - бесплатный онлайн сервис для диабетиков 1-го и 2-го типа</span>
        </div>
    </div>
</header>

<section style="background-color: #F7F8FA">
    <div class="container text-center">
        <h1>О проекте</h1>

        <div class="colored-line"></div>
        <p class="lead description">Наш сервис создан чтобы помочь вам вести учет и анализ сахара в крови</p>

        <div class="row">
            <div class="col-md-4">
                <div class="box feature">
                    <figure class="icon-sm">
                        <i class="glyphicon icon-user"></i>
                    </figure>
                    <h3>Удобный</h3>

                    <p class="lead">Нашим сервисом легко пользоваться. Мы оставили только важную информацию и сделали наш сервис максимально простым и интуитивно понятным.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box feature">
                    <figure class="icon-sm">
                        <i class="glyphicon icon-tablet"></i>
                    </figure>
                    <h3>Доступный</h3>

                    <p class="lead">Diabet Life доступен для любого компьютера или смартфона. Сайт автоматически адаптируется под разрешение вашего экрана.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box feature">
                    <figure class="icon-sm">
                        <i class="glyphicon icon-file-word"></i>
                    </figure>
                    <h3>Продуманный</h3>

                    <p class="lead">Вы всегда сможете сохранить ваши данные и статистику в бумажном виде. Печатайте и сохраняйте отчеты о вашем сахаре в любом удобном формате.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section style="background-color: #FFF">
    <div class="container text-center">
        <h1>Как это работает?</h1>

        <div class="colored-line"></div>
        <p class="lead description">Забудьте про бумажные дневники и экономьте время с нашим сервисом</p>

        <div class="row box step text-left">
            <span class="col-sm-3"><i class="icon-lg glyphicon icon-calendar"></i></span>
            <div class="col-sm-9">
                <h4>Шаг 1: Заполняйте электронный дневник</h4>
                <hr>
                <p class="lead">Вносите данные о сахаре, хлебных единицах и инсулине</p>
            </div>
        </div>
        <i class="glyphicon icon-down-big icon-sm"></i>

        <div class="row box step text-left">
            <span class="col-sm-3"><i class="icon-lg glyphicon icon-chart-area"></i></span>
            <div class="col-sm-9">
                <h4>Шаг 2: Получайте полезную статистику и графики</h4>
                <hr>
                <p class="lead">На основе ваших данных автоматически формируются графики</p>
            </div>
        </div>
        <i class="glyphicon icon-down-big icon-sm"></i>

        <div class="row box step text-left">
            <span class="col-sm-3"><i class="icon-lg glyphicon icon-user-md"></i></span>
            <div class="col-sm-9">
                <h4>Шаг 3: Формируйте отчеты</h4>
                <hr>
                <p class="lead">Распечатывайте отчеты и делитесь информацией с вашим лечащим врачом</p>
            </div>
        </div>
    </div>
</section>

<section class="text-center text-white">
    <div class="container">
        <h2 class="text-white">Связаться с нами</h2>
        <hr>
        <div class="row">
            <div class="footer-col col-md-4">
                <p class="lead">Возникли проблемы при использовании нашего сервиса? Есть идеи как сделать сервис лучше? Напишите нам!</p>
            </div>
            <div class="footer-col col-md-4">
                <h3 class="text-white">Почта</h3>

                <a style="font-size: 4.75em;" href="#/support"><i class="glyphicon icon-mail"></i></a>
            </div>
            <div class="footer-col col-md-4">
                <h3 class="text-white">Социальные сети и блог</h3>
                <ul class="list-inline">
                    <li>
                        <a href="#" class="btn-social btn-outline" title="ВКонтакте"><i class="glyphicon icon-vkontakte-rect"></i></a>
                    </li>
                    <li>
                        <a href="#" class="btn-social btn-outline" title="Facebook"><i class="glyphicon icon-facebook-rect"></i></a>
                    </li>
                    <li>
                        <a href="#" class="btn-social btn-outline" title="Блог сайта"><i class="glyphicon icon-blogger"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>