<div class="text-center">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
</div>
<div class="modal-dialog modal-lg" data-ng-hide="formVisible">
    <div class="modal-content text-center">
        <div class="modal-header">
            <h4>Пароль успешно отправлен</h4>
        </div>
        <div class="modal-body">
            <p class="lead">Пожайлуста, проверьте Ваш почтовый ящик.</p>
            <p class="text"><ins><a href="#/signIn">Перейти к форме входа на сайт</a></ins></p>
        </div>
    </div>
</div>

<div class="modal-dialog" data-ng-show="formVisible">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="text-center">Восстановление пароля</h1>
        </div>
        <div class="modal-body" data-ng-init="showError=false">
            <form class="form center-block" name="form" role="form" novalidate>
                <div class="form-group">
                    <input class="form-control input-lg" data-ng-model="email" placeholder="Email" type="email" name="email" required>
                    <p class="text-danger" data-ng-show="showError&&form.email.$invalid">Введите корректный email</p>
                </div>
                <div class="form-group" data-ng-click="showError=true">
                    <button class="btn btn-primary btn-lg btn-block" data-ng-disabled="form.$invalid" data-ng-click="restore()">Выслать мне пароль</button>
                </div>
            </form>
        </div>
    </div>
</div>