<div class="text-center">
    <alert data-ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
</div>
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="text-center">Вход на сайт</h1>
        </div>
        <div class="modal-body" data-ng-init="showError=false">
            <form class="form center-block" name="form" role="form" novalidate>
                <div class="form-group">
                    <input class="form-control input-lg" placeholder="Email" type="email" name="username" data-ng-model="username" required>
                    <p class="text-danger" data-ng-show="showError&&form.username.$invalid">Введите корректный email</p>
                </div>
                <div class="form-group">
                    <input class="form-control input-lg" placeholder="Пароль" type="password" name="password" data-ng-model="password" data-ng-trim required>
                    <p class="text-danger" data-ng-show="showError&&form.password.$invalid">Введите пароль</p>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input name="remember-me" data-ng-model="rememberMe" type="checkbox"> Запомнить меня
                        </label>
                    </div>
                </div>
                <div class="form-group" data-ng-click="showError=true">
                    <button class="btn btn-primary btn-lg btn-block" data-ng-disabled="form.$invalid" data-ng-click="login()">Войти</button>
                    <span class="pull-right"><a href="#/signUp">Регистрация</a></span>
                    <span><a href="#/restorePassword">Забыл(а) пароль</a></span>
                </div>
            </form>
        </div>
    </div>
</div>
