<div class="text-center">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
</div>
<div class="modal-dialog modal-lg" data-ng-hide="formVisible">
    <div class="modal-content text-center">
        <div class="modal-header">
            <h4>Поздравляем! Вы успешно прошли регистрацию.</h4>
        </div>
        <div class="modal-body">
            <p class="lead">На Ваш почтовый ящик было отправлено письмо с дальнейшими инструкциями.</p>
            <p class="lead">Спасибо, что выбрали нас!</p>
        </div>
    </div>
</div>

<div class="modal-dialog" data-ng-show="formVisible">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="text-center">Регистрация на сайте</h1>
        </div>
        <div class="modal-body" data-ng-init="showError=false">
            <form class="form center-block" name="form" role="form" novalidate>
                <div class="form-group">
                    <input class="form-control input-lg" data-ng-model="user.email" placeholder="Email" type="email" name="email" required>
                    <p class="text-danger" data-ng-show="showError&&form.email.$invalid">Введите корректный email</p>
                </div>
                <div class="form-group">
                    <input class="form-control input-lg" data-ng-model="user.password" placeholder="Пароль" type="password" name="password" required>
                    <p class="text-danger" data-ng-show="showError&&form.password.$invalid">Введите пароль</p>
                </div>
                <div class="form-group" data-ng-click="showError=true">
                    <button class="btn btn-primary btn-lg btn-block" data-ng-disabled="form.$invalid" data-ng-click="register()">Регистрация</button>
                </div>
            </form>
        </div>
    </div>
</div>