<div class="modal-dialog modal-lg" data-ng-hide="formVisible">
    <div class="modal-content text-center">
        <div class="modal-body">
            <p class="lead">Сообщение успешно отправлено.</p>
            <p class="text"><ins><a href="#/signIn">Перейти на главную страницу сайта</a></ins></p>
        </div>
    </div>
</div>

<div class="modal-dialog" data-ng-show="formVisible">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="text-center">Отправить письмо разработчикам</h4>
        </div>
        <div class="modal-body" data-ng-init="showError=false">
            <form class="form center-block" name="form" role="form" novalidate>
                <div class="form-group">
                    <input class="form-control input-lg" data-ng-model="message.email" placeholder="Ваш email" type="email" name="email" required>
                    <p class="text-danger" data-ng-show="showError&&form.email.$invalid">Введите корректный email</p>
                </div>
                <div class="form-group">
                    <textarea class="form-control" rows="5" data-ng-model="message.text" placeholder="Сообщение" name="text" required></textarea>
                    <p class="text-danger" data-ng-show="showError&&form.text.$invalid">Заполните сообщение</p>
                </div>
                <div class="form-group" data-ng-click="showError=true">
                    <button class="btn btn-primary btn-lg btn-block" data-ng-disabled="form.$invalid" data-ng-click="send()">Отправить</button>
                </div>
            </form>
        </div>
    </div>
</div>